<div class="container">
    <div class="card ">
        <div class="card-header bg-dark text-white">
            <h1 class="text-center display-2">Application</h1>
            <h5 class="text-center">{{today | date :"full"}}</h5>
        </div>

        <div class="text-center" style="padding:20px 0px">
            {{empForm.value | json}}
        </div>

        <div class="card-body">

            <div class="section">

                <form [formGroup]="empForm">

                    <div formArrayName="employees">

                        <div *ngFor="let employee1 of employees.controls; let j=index">

                            <div [formGroupName]="j" style="padding:5px 0px" [ngClass]="{'text-dark':true}"
                                [ngStyle]="{'font-size':'16px','color':'black','font-style':'bold'}">
                                Employee {{j}}

                                <div class="row">

                                    <div class="col-6">
                                        <svg (click)="addEmployee()" aria-hidden="true" focusable="true"
                                            data-prefix="fas" data-icon="user-plus"
                                            class="svg-inline--fa fa-user-plus fa-w-20 fa-2x fa-fw" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                                            <path fill="currentColor"
                                                d="M624 208h-64v-64c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v64h-64c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h64v64c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-64h64c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zm-400 48c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z">
                                            </path>
                                        </svg>
                                    </div>

                                    <div class="col-6">

                                        <svg (click)="removeEmployee(j)" aria-hidden="true" focusable="true"
                                            data-prefix="fas" data-icon="user-minus"
                                            class="svg-inline--fa fa-user-minus fa-w-20 fa-2x fa-fw" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                                            <path fill="currentColor"
                                                d="M624 208H432c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h192c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zm-400 48c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z">
                                            </path>
                                        </svg>


                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-sm-4">
                                        First Name

                                    </div>

                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" name="fname" id="fname"
                                            formControlName="fname" required>

                                        <!--<div class="alert alert-success">
                                            required
                                        </div>-->

                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-sm-4">
                                        Last Name
                                    </div>

                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" name="lname" id="lname"
                                            formControlName="lname" required value="Ideapad">
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-sm-4">
                                        <label>User</label>
                                    </div>

                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" name="user" id="user"
                                            formControlName="user" required>
                                    </div>
                                </div>





                                <div class="row">
                                    <div class="col-sm-4">
                                        Email
                                    </div>

                                    <div class="col-sm-6">
                                        <input type="email" class="form-control" name="email1" id="email1"
                                            formControlName="email" value="exampe@gmail.com">
                                    </div>
                                </div>




                                <div class="row">
                                    <div class="col-sm-4">
                                        Password
                                    </div>

                                    <div class="col-sm-6">
                                        <input type="password" class="form-control" name="password" id="password"
                                            formControlName="password" autocomplete="on" >
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-sm-4">
                                        Confirm Password
                                    </div>

                                    <div class="col-sm-6">
                                        <input type="password" class="form-control" name="cpassword" id="cpassword"
                                        formControlName="cpassword" autocomplete="on" value="1234">
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-sm-4">
                                        Date of Birth
                                    </div>

                                    <div class="col-sm-6">
                                        <input type="date" class="form-control" name="date" id="date"
                                        formControlName="date">
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-sm-4">
                                        Gender
                                    </div>

                                    <div class="col-sm-6">
                                        <select class="form-select" name="gender" formControlName="gender">
                                            <option value="" selected>Select a option</option>
                                            <option>Male</option>
                                            <option>Female</option>
                                        </select>
                                    </div>
                                </div>



                                <div class="row">

                                    <div class="col-sm-4">
                                        Phone Number
                                    </div>

                                    <div class="col-sm-6">
                                        <input type="tel" class="form-control" name="phone" id="phone"
                                        formControlName="phone" value="123456789">
                                    </div>
                                </div>



                                <div formGroupName="address">

                                    <div class="row">
                                        <div class="col-sm-4">
                                            street
                                        </div>

                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="street" id="street"
                                            formControlName="street">
                                        </div>
                                    </div>



                                    <div class="row">
                                        <div class="col-sm-4">
                                            City
                                        </div>

                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="city" id="city"
                                            formControlName="city">
                                        </div>
                                    </div>



                                    <div class="row">
                                        <div class="col-sm-4">
                                            State
                                        </div>

                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="state" id="state"
                                            formControlName="state">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-4">
                                            Zip
                                        </div>

                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="zip" id="zip"
                                                    formControlName="zip">
                                                </div>
                                            </div>
                                    </div>

                                </div>

                            </div>


                        </div>



                </form>

                <div class="row">
                    <div class="col-sm-12 d-grid text-center">
                        <app-data [empForm]="empForm" (dataForm)="submit($event)"></app-data>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<br>
<br>
