    .jumbotron {
    padding-bottom: 100px;
  }
  
  .card-header {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .section {
    margin-left: 100px;
  }
  
  @media screen and (max-width: 1020px) {
    .section {
      margin-left: 0px;
    }
  }
  
  .row {
    padding: 10px;
  }
  
  .remove {
    margin-left: 50%;
  }

  label{
    text-indent: -270px;
    font-size: 18px;
  }

  @media screen and (max-width:1020px)
  {
    label{
      text-indent:-290px;
      font-size: 18px;
    }
  }

  .form-select{
    padding: 7px;
  }
  