label{
    font-size: 16px;
    margin-right: 270px;
  }
  
  .section {
    margin-left: 10px;
  }

  .row{
    padding:5px 0px;
  }
  
  @media screen and (max-width: 1020px) {
    .section {
      margin-left: 0px;
    }
    label{
      margin-right:0px;
    }
  }
 

  
  