<div class="jumbotron">
    <div class="card ">
        <div class="card-header bg-dark text-white">
            <h1 class="text-center display-2">Application</h1>
            <h5 class="text-center">{{today | date :"full"}}</h5>
        </div>

        <div class="card-body">
            <div class="section">
                <form [formGroup]="empForm">
                    <div formArrayName="employees">
                        <div *ngFor="let employee of employees().controls; let j=index">
                            <div [formGroupName]="j"
                                style="margin:5px;padding-top:5px">
                                Employee {{j}}
                                <br>
                                <br>
                                <div class="row">
                                    <div class="col-8">

                                    </div>

                                    <div class="col-4">
                                        <button type="button" class="btn-sm btn-outline-dark" (click)="addEmployee()">Add</button>
                                        
                                <button type="button" (click)="removeEmployee(j)" class="btn-sm btn-outline-dark">Remove</button>
                                    </div>
                                </div>
                                


                                <div class="row">
                                    <div class="col-sm-4">
                                        <label>First Name</label>

                                    </div>

                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" name="fname" id="fname"
                                            formControlName="fname" required>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-sm-4">
                                        Last Name
                                    </div>

                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" name="lname" id="lname"
                                            formControlName="lname" required>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-sm-4">
                                        User Name
                                    </div>

                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" name="user" id="user"
                                            formControlName="user">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">
                                        Email
                                    </div>

                                    <div class="col-sm-6">
                                        <input type="email" class="form-control" name="email1" id="email1"
                                            formControlName="email">
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-sm-4">
                                        Password
                                    </div>

                                    <div class="col-sm-6">
                                        <input type="password" class="form-control" name="password" id="password"
                                            formControlName="password" autocomplete="on">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">
                                        Confirm Password
                                    </div>

                                    <div class="col-sm-6">
                                        <input type="password" class="form-control" name="cpassword" id="cpassword"
                                            formControlName="cpassword" autocomplete="on">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">
                                        Date of Birth
                                    </div>

                                    <div class="col-sm-6">
                                        <input type="date" class="form-control" name="date" id="date"
                                            formControlName="date">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">
                                        Gender
                                    </div>

                                    <div class="col-sm-6">
                                        <select class="form-select" name="gender" formControlName="gender">
                                            <option value="" selected>Select a option</option>
                                            <option>Male</option>
                                            <option>Female</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">
                                        Phone Number
                                    </div>

                                    <div class="col-sm-6">
                                        <input type="tel" class="form-control" name="phone" id="phone"
                                            formControlName="phone">
                                    </div>
                                </div>

                                <div formGroupName="address">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            street
                                        </div>

                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="street" id="street"
                                                formControlName="street">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-4">
                                            City
                                        </div>

                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="city" id="city"
                                                formControlName="city">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-4">
                                            State
                                        </div>

                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="state" id="state"
                                                formControlName="state">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-4">
                                            Zip
                                        </div>

                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="zip" id="zip"
                                                formControlName="zip">
                                        </div>
                                    </div>

                                
                                </div>




                            </div>
                            
                            <br>
                            <br>

                            

                        </div>
                        
                        
                    </div>

                    <br>
                    <br>

                    

                </form>
                <div class="row">
                    <div class="col-sm-12 d-grid">
                        <button (click)="display()" type="button" [disabled]="visible" class="btn btn-outline-success">Submit</button>
                    </div>
                </div>

                <!--{{empForm.value | json}} -->
               
            </div>
        </div>
    </div>
</div>

